{% extends 'base.html' %}

{% block head %}

  <title>Assessment Statistics</title>
  <link rel="stylesheet" href="../static/style/assessmentStatsStyle.css">

{% endblock %}

{% block body %}

<!--Section for the tables with assessment information-->
<div class="content-tables">

  <table class="assessment-statistics-table">

    <thead>
      {%for ass in Results%}
      <tr>
        <th scope="col" colspan="2">Module Name:{ass.}</th> <!--Remember to Link assessment_details table to assessment_results for module info-->
      </tr>
      {%endfor%}
      {%for ass in Results%}
      <tr>
        <th scope="col" colspan="2">{ass.} Statistics</th> <!--Remember to Link assessment_details table to assessment_results for module info-->
      </tr>
      {%endfor%}
    </thead>

    <tbody>
      {%for ass in Results%}
        <tr>
          <th scope="row">Possible Grade</th>
          <td>{{ass.grade}}</td> <!--Fetched data comes here-->
        </tr>
      {%endfor%}
      <tr>
        <th scope="row">Actual Grade</th>
        <td>70</td> <!--Fetched data comes here-->
      </tr>
      {%for ass in Results%}
      <tr>
        <th scope="row">Class Average</th>
        {%ave=average(ass.grade)%}
        <td>{{ave}}</td> <!--Calculate your average in the Python code and pass that value into your template.-->
      </tr>
      {%endfor%}
      {%for ass in Results%}
      <tr>
        <th scope="row">Lowest Grade</th>
        {%low=lowest(ass.grade)%}
        <td>{{low}}</td> <!--Calculate lowest in the Python code-->
      </tr>
      {%endfor%}
      {%for ass in Results%}
      <tr>
        <th scope="row">Highest Grade</th>
        {%high=highest(ass.grade)%}
        <td>{{high}}</td> <!--Calculate Highest in the Python code-->
      </tr>
      {%endfor%}
    </tbody>

    <tfoot>
      <tr>
        <td colspan="4">Have an issue with your marks? <a href="">Report here</a></td> <!--Add link to Report Issue page-->
      </tr>
    </tfoot>

  </table>

</div>

{% endblock %}
