{% extends 'base.html' %}

{% block head %}

<title>Assessment Statistics</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style/assessmentStatsStyle.css') }}">

{% endblock %}

{% block body %}

<!--Section for the tables with assessment information-->
<div class="content-tables">



  <table class="assessment-statistics-table">

    <thead>
      <tr>
        <!-- Module name of the current assessment -->
        <th scope="col" colspan="2">Module Name: {{ module_details.module_name }}</th>
      </tr>
      <tr>
        <!-- Assessment name of the current assessment -->
        <th scope="col" colspan="2">{{assess_details.assessment_name}} Statistics</th>
      </tr>
      <tr>
        <!-- Attempt number of the current assessment -->
        <th scope="col" colspan="2">Attempt Number: {{ user_results.attempt_number }}</th>
      </tr>
    </thead>

    <tbody>

      <tr>
        <!--Assuming max mark for all assessments is 100%-->
        <th scope="row">Possible Grade</th>
        <td>100</td>
      </tr>

      <tr>
        <!-- the grade the student got -->
        <th scope="row">Actual Grade</th>
        <td>{{ user_results.grade }}</td>
      </tr>

      <tr>
        <!-- the average grade across all of the students results -->
        <th scope="row">Class Average</th>
        <td>{{ class_average }}</td>
      </tr>

      <tr>
        <!-- the lowest grade across all of the students results -->
        <th scope="row">Lowest Grade</th>
        <td>{{ lowest_grade }}</td>
      </tr>

      <tr>
        <!-- the highest grade across all of the students results -->
        <th scope="row">Highest Grade</th>
        <td>{{ highest_grade }}</td>
      </tr>

    </tbody>

    <tfoot>
      <tr>
        <td colspan="4">Have an issue with your marks? <a href="">Report here</a></td>
        <!--Add link to Report Issue page-->
      </tr>
    </tfoot>

  </table>

</div>

{% endblock %}
