{% extends 'base.html' %}

{% block head %}
  <title>Add Assessment</title>
{% endblock %}

{% block body %}

<div class="">

    <h2>homepage</h2>

    <form class="aDetails" action="index.html" method="post">
      <input type="text" name="" value="">
      <input type="text" name="" value="">
      <input type="text" name="" value="">
      <input type="text" name="" value="">
      <input type="text" name="" value="">
      <input type="text" name="" value="">
      <input type="text" name="" value="">
      <textarea name="name" rows="8" cols="80"></textarea>

    </form>
    <form class="aDetails" action="index.html" method="post">
      <input type="text" name="" value="">
      <input type="text" name="" value="">
      <input type="text" name="" value="">
      <input type="text" name="" value="">
      <input type="text" name="" value="">
      <input type="text" name="" value="">
      <input type="text" name="" value="">
      <textarea name="name" rows="8" cols="80"></textarea>

    </form>
    <form class="aDetails" action="index.html" method="post">
      <input type="text" name="" value="">
      <input type="text" name="" value="">
      <input type="text" name="" value="">
      <input type="text" name="" value="">
      <input type="text" name="" value="">
      <input type="text" name="" value="">
      <input type="text" name="" value="">
      <textarea name="name" rows="8" cols="80"></textarea>

    </form>
    <form class="aDetails" action="index.html" method="post">
      <input type="text" name="" value="">
      <input type="text" name="" value="">
      <input type="text" name="" value="">
      <input type="text" name="" value="">
      <input type="text" name="" value="">
      <input type="text" name="" value="">
      <input type="text" name="" value="">
      <textarea name="name" rows="8" cols="80"></textarea>

    </form>
    <form class="aDetails" action="index.html" method="post">
      <input type="text" name="" value="">
      <input type="text" name="" value="">
      <input type="text" name="" value="">
      <input type="text" name="" value="">
      <input type="text" name="" value="">
      <input type="text" name="" value="">
      <input type="text" name="" value="">
      <textarea name="name" rows="8" cols="80"></textarea>

    </form>


</div>

{% endblock %}
