{% extends 'base.html' %}

{% block head %}

  <title>Assessment Statistics</title>
  <link rel="stylesheet" href="../static/style/assessmentStatsStyle.css">

{% endblock %}

{% block body %}

<!--Section for the tables with assessment information-->
<div class="content-tables">



  <table class="assessment-statistics-table">

    <thead>
      <tr>
        <th scope="col" colspan="2">Module Name:</th> <!--Remember to Link assessment_details table to assessment_results for module info-->
      </tr>
      <tr>
        <th scope="col" colspan="2">Statistics (Attempt Number())</th> <!--Remember to Link assessment_details table to assessment_results for module info-->
      </tr>
    </thead>

    <tbody>

        <tr>
          <th scope="row">Possible Grade</th>
          <td>100</td> <!--Assuming max mark for all assessments is 100%-->
        </tr>

        <tr>
          <!-- the grade the student/user got -->
          <th scope="row">Actual Grade</th>
          <td>{{Results[0].grade}}</td> <!--Fetched data comes here-->
        </tr>

        <tr>
          <!-- the average grade across all of the students results -->
          <th scope="row">Class Average</th>
          <!-- //pass "Results" to "Average", and set the return of average to "ave"
          Results = 1,2,4,5,6,7
          display ave -->
          <!-- ave = Average(Results) Function here-->
          <td>ave</td> <!--Calculate your average in the Python code and pass that value into your template.-->
        </tr>

        <tr>
          <!-- the lowest grade across all of the students results -->
          <th scope="row">Lowest Grade</th>
          <!-- Passing Variable resuls to Lowest & setting the return value to the variable low -->
          <td>lowest grade</td> <!--Calculate lowest in the Python code-->
        </tr>

        <tr>
          <!-- the highest grade across all of the students results -->
          <th scope="row">Highest Grade</th>
          <!-- Passing Variable resuls to highest & setting the return value to the variable high -->
          <td>highest grade</td> <!--Calculate Highest in the Python code-->
        </tr>

    </tbody>

    <tfoot>
      <tr>
        <td colspan="4">Have an issue with your marks? <a href="">Report here</a></td> <!--Add link to Report Issue page-->
      </tr>
    </tfoot>

  </table>

</div>

{% endblock %}
