<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/mainStyle.css') }}">
    {% block head %}{% endblock %}
  </head>

  <body>
    <header class = "mainHeader">

      <!-- <img id="cardiffLogo" src="{{ url_for('static', filename='img\Cardiff_University.png') }}"/> -->
      <!-- <div class="logoTitle"> -->



      <div class="title">
        <img id = "cLogo" src="{{ url_for('static', filename='img/Cardiff_University.svg') }}" >
        <!-- <p>     </p> -->
        <h1>&nbsp &nbsp Auto-Assessment Portal</h1>
      </div>

      Hello, {{current_user.username}}
      
      <a href="{{url_for('logout')}}">Logout</a>
       <div class="alert">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
              <ul>
                  {% for message in messages %}
                    <li style="list-style-type: none;">{{ message }}</li>
                  {% endfor %}
              </ul>
          {% endif %}
        {% endwith %}
        </div>

    </header>

    <div class="outerContainer">

      <div class="sideBar">

        <ul>
          <!-- <li></li> -->
          <li><span onclick="location.href = '/home'">Home</span></li>
          <li>Account</li>
          <span onclick="location.href = '/view-modules'"><li>Modules</li></span>
          <li>Results</li>
          <a href="{{ url_for('surveyresults') }}"><li>Feedback</li></a> <!-- Edited by EK, but link is wrong color -->
          <li>Calendar</li>
        </ul>
      </div>


    <main>
      {% block body %}
      {% endblock %}
    </main>



    </div>

    <footer>

      <p>Home | Acount | Modules | Results | Feedback | Calander <p>
      <p>CMT 313 Group H - Auto Assessment Tool</p>
      

    </footer>

  </body>
</html>
