{% extends 'base.html' %}

{% block head %}

  <title>Completed Assessments</title>
  <link rel="stylesheet" href="../static/style/assessmentStatsStyle.css">

{% endblock %}

{% block body %}

<!--Section for the tables with assessment information-->
<div class="content-tables">

  <table class="completed-assessments-table">

    <thead>
      <tr>
        <th scope="col">Completed Assessment(s)</th>
        <th scope="col">Date Completed</th>
        <th scope="col">Mark</th>
        <th scope="col">Attempt Number</th>
        <th scope="col">Action</th>
      </tr>
    </thead>

    <tbody>
      <p>{{current_user.id}}</p>
      <tr>
        <td>CMT1</td> <!--Fetched module name comes here-->
        <td>21/04/2021</td> <!--Fetched data comes here-->
        <td>67</td> <!--Fetched data comes here-->
        <td>1</td> <!--Fetched data comes here-->
        <td><a href="assessment_statistics/1">View</a></td>
        <!--<td><a href=""><span>View</span></a></td>-->
        <!-- the 1 is the assessment id you want to look at. -->
      </tr>
    </tbody>

    <tfoot>
      <tr>
        <td colspan="4">Have an issue with your marks? <a href="">Report here</a></td> <!--Add link to Report Issue page-->
      </tr>
    </tfoot>

  </table>
</div>

{% endblock %}
