{% extends 'base.html' %}

{% block head %}

  <title>Completed Assessments</title>
  <link rel="stylesheet" href="../static/style/assessmentStatsStyle.css">

{% endblock %}

{% block body %}

<!--Section for the tables with assessment information-->
<div class="content-tables">

  <table class="completed-assessments-table">

    <thead>
      <tr>
        <th scope="col">Completed Assessment(s)</th>
        <th scope="col">Date Completed</th>
        <th scope="col">Mark</th>
        <th scope="col">Action</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>CMT119 Computational Thinking</td> <!--Fetched data comes here-->
        <td>23/03/2021</td> <!--Fetched data comes here-->
        <td>70</td> <!--Fetched data comes here-->
        <td><a href="./assessment_statistics">View</a></td> <!--Change link to correspond with fetched data-->
      </tr>
      <tr>
        <td>CMT120 Fundamentals of Programming</td> <!--Fetched data comes here-->
        <td>23/03/2021</td> <!--Fetched data comes here-->
        <td>70</td> <!--Fetched data comes here-->
        <td><a href="./assessment_statistics">View</a></td> <!--Change link to correspond with fetched data-->
      </tr>
      <tr>
        <td>CMT219 Algorithms, Data Structures and Programming</td> <!--Fetched data comes here-->
        <td>23/03/2021</td> <!--Fetched data comes here-->
        <td>70</td> <!--Fetched data comes here-->
        <td><a href="./assessment_statistics">View</a></td> <!--Change link to correspond with fetched data-->
      </tr>
      <tr>
        <td>CMT220 Databases and Modelling</td> <!--Fetched data comes here-->
        <td>23/03/2021</td><!--Fetched data comes here-->
        <td>70</td><!--Fetched data comes here-->
        <td><a href="./assessment_statistics">View</a></td> <!--Change link to correspond with fetched data-->
      </tr>
      <tr>
        <td>CMT221 Topics, Research and Skills in Computing</td> <!--Fetched data comes here-->
        <td>23/03/2021</td> <!--Fetched data comes here-->
        <td>70</td> <!--Fetched data comes here-->
        <td><a href="./assessment_statistics">View</a></td> <!--Change link to correspond with fetched data-->
      </tr>
      <tr>
        <td>CMT313 Software Engineering</td> <!--Fetched data comes here-->
        <td>23/03/2021</td> <!--Fetched data comes here-->
        <td>70</td> <!--Fetched data comes here-->
        <td><a href="./assessment_statistics">View</a></td> <!--Change link to correspond with fetched data-->
      </tr>
    </tbody>

    <tfoot>
      <tr>
        <td colspan="4">Have an issue with your marks? <a href="">Report here</a></td> <!--Add link to Report Issue page-->
      </tr>
    </tfoot>

  </table>
</div>

{% endblock %}
