{% extends 'base.html' %}

{% block head %}
  <title>Result</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style/undertakeAss.css') }}">
{% endblock %}

{% block body %}

<div class="">

    <h2 id ="assTitle">CMT{{ass.id}} - {{ass.assessment_name}}</h2>
    <div class="assInfoTable">
    <table >
      <tr>
        <td>Start:  {{ass.start_date.strftime('%H:%M %b %d %Y')}}</td> <td>End:  {{ass.end_date.strftime('%H:%M %b %d %Y')}}</td> <td>Duration: {{ass.time_limit.strftime('%H:%M')}} </td>
        </tr>
    </table>
      </div>

    <div class="assInstruction">

    {% if get_flashed_messages() %}
    <p>RESULT = {{get_flashed_messages()[0]}}</p>
    {%else%}
    <p>ERROR - Assessment Attempt Not Found </p>
    {% endif %}


    </div>

    <h2>Feedback</h2>
    <div class="feedbackStyle">


      {%for question in assQuestions%}

      <div class="singleQuestion">
          {%if res1[question.id]%}
          <p>{{i}} Q {{question.id}}: Correct</p>
          <p>Feedback: {{question.correct_feedback}}</p>
          {%else%}
          <p>{{i}} Q {{question.id}}: Incorrect</p>
          <p>Feedback: {{question.incorrect_feedback}}</p>
          {%endif%}



      </div>




      {%endfor%}

      <div class="">
          <p>Assessment id = {{ass.id}} , Module id= {{ass.module_id}}</p>
          <p><a href="{{url_for('survey',  mod_id = ass.module_id, asse_id = ass.id)}}">Click for Satisfaction Survey</a></p>



      </div>

    </div>










</div>

{% endblock %}
