{% extends 'base.html' %}

{% block head %}
    <title>Creat Question</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/assDetails.css') }}">
{% endblock %}


{% block body %}

<!--navigation bar-->
<!--<ul>-->
<!--    <li>HOME</li>-->
<!--    <li>Account</li>-->
<!--    <li>Logout</li>-->
<!--</ul>-->

<!--To ?-->
<form method="post">
    <input id="to?" name="to?" type="submit" value="<——">  <!--QUESTION: to where?-->
    <span>Edit Assessment Details</span>
</form>
<!--Question information-->
<table id="total_Info" name="total_Info" method="get">
    <tr><td>Module Code</td><td></td></tr>
    <tr><td>Assessment Title</td><td></td></tr>
    <tr><td>Total Questions</td><td></td></tr>
    <tr><td>Total Marks</td><td></td></tr>
</table>

<!--Creat Question-->
<form>
    <input id="creat_Q" name="creat_Q" type="button" value="+ Creat Question" onclick="creat_question()">
    <script>
        function creat_question(){
            var table_Q = document.createElement("table_Q");
            table_Q.border = "5";
            table_Q.width = "40%";

            var rows = table_Q.insertRow()
            var cells = rows.insertCell(rows.cells.length);

            document.querySelector("#tb").appendChild(table_Q);

        }
    </script>
</form>


<h2>Create New Question</h2>

<form class="qDetails" action="index.html" method="post">
    <table>
        <tr>
            <td><label for="questiontype">Question Type</label></td>
            <td>
                <select name="questiontype">
                    <option value="type1">Type 1</option>
                    <option value="type2">Type 2</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label for="content">Content</label></td>
            <td><textarea name="QContent" class="" cols="40" rows="8"></textarea></td>
        </tr>
        <tr>
            <td><label for="point">Point</label></td>
            <td><input type="text" name="point"></td>
        </tr>
        <tr>
            <td><label for="dlevel">Difficulty Level</label></td>
            <td>
                <select name="difficultylevel">
                    <option value="level1">Level 1</option>
                    <option value="level2">Level 2</option>
                    <option value="level3">Level 3</option>
                    <option value="level4">Level 4</option> 
                </select>
            </td>
        </tr>
        <div class="type1">
            <tr>
                <td><label for="answer1">Answer 1</label></td>
                <td><input type="text" name="answer1"></td>
            </tr>
            <tr>
                <td><label for="answer2">Answer 2</label></td>
                <td><input type="text" name="answer1"></td>
            </tr>
            <tr>
                <td><label for="answer3">Answer 3</label></td>
                <td><input type="text" name="answer1"></td>
            </tr>
            <tr>
                <td><label for="answer4">Answer 4</label></td>
                <td><input type="text" name="answer1"></td>
            </tr>
        </div>
            
        <div class="type2">
            <tr>
                <td><label for="true">True</label></td>
                <td><input type="text" name="answer1"></td>
            </tr>
            <tr>
                <td><label for="false">False</label></td>
                <td><input type="text" name="answer1"></td>
            </tr>
        </div>
    
        <tr>
            <td><label for="canswer">Correct Answer</label></td>
            <td>
                <select name="correctanswer">
                    <div class="type1">
                        <option value="Answer 1">Answer 1</option>
                        <option value="Answer 2">Answer 2</option>
                        <option value="Answer 3">Answer 3</option>
                        <option value="Answer 4">Answer 4</option> 
                    </div>
                    <div class="type2">
                        <option value="True">True</option>
                        <option value="False">False</option>
                    </div>
                </select>
            </td>
        </tr>
        <tr>
            <td><label for="cfeedback">Correct Feedback</label></td>
            <td><input type="text" name="correctfeedback"></td>
        </tr>
        <tr>
            <td><label for="ifeedback">Incorrect Feedback</label></td>
            <td><input type="text" name="incorrectfeedback"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit"></td>
        </tr>
    </table>

</form>

if(form.selectedname.value() == type1){
    ('.type1').show();
    ('.type2').hide();
}
else{
    ('.type1').hide();
    ('.type2').show();
}

{% endblock %}
