{% extends 'base.html' %}

{% block head %}
  <title>Edit Assessment</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style/edit_assessments.css') }}">
{% endblock %}

{% block body %}
    <h1 id="edit-title">Edit Assessment</h1>
    {% for mod in module %}
            <span id="title-case">
              <span id="mod-title">{{ mod.module_name }}</span>
            </span>
          {% endfor %}
    {% for ass in assess %}
    <form class="edit_assess" action="{{ url_for('edit_assessment', assess_id = ass.id) }}" method="post">
      <table class="edit-table">
        <tr>
          <td><label for="assType">Assessment Type</label></td>          
          {% if ass.assessment_type == 1%}
          <td>
            <select class="textInput" name="assType" id="">
              <option value="0" selected="selected">Sumative</option>
              <option value="1">Formative</option>
            </select>
          </td>
          {% else %}
          <td>
            <select class="textInput" name="assType" id="">
              <option value="0">Sumative</option>
              <option value="1" selected="selected">Formative</option>
            </select>
          </td>
          {% endif %}
        </tr>
        <tr>
          <td><p>Assessment name</p></td>
          <td><input type="text" class="textInput" name="assTitle" value='{{ ass.assessment_name }}'></td>
        </tr>
        <tr>
          <td><p>Time limit</p></td>
          <td><input type="text" class="textInput" name="assTime" value='{{ ass.time_limit }}'></td>
        </tr>
        <tr>
          <td><p>Release date</p></td>
          <td><input type="text" class="textInput" name="assRel" value='{{ ass.release}}'></td>
        </tr>
        <tr>
          <td><p>Start date</p></td>
          <td><input type="text" class="textInput" name="assStart" value='{{ ass.start_date }}'></td>
        </tr>
        <tr>
          <td><p>End date</p></td>
          <td><input type="text" class="textInput" name="assEnd" value='{{ ass.end_date }}'></td>
        </tr> 
        <tr>
          <td><p>Weighting</p></td>
          <td><input type="text" class="textInput" name="assWeight" value='{{ ass.weighting }}'></td>          
        </tr>
        <tr>
          <td><p>allowed attempts</p></td>
          <td><input type="text" class="textInput" name="assAttemps" value='{{ ass.allowed_attemps }}'></td>
        </tr>
        <tr>
          <td><p>Assessment Instructions</p></td>
          <td><textarea type="text" class="textInput" name="assInstruc" rows="8">{{ ass.assessment_instructions }}</textarea></td>
        </tr>
        <tr>
          <td><input id = "edit_button" type="submit" name="" value="Edit"></td>
        </tr>
      </table>
    </form>
    {% endfor %}
{% endblock %}