{% extends 'base.html' %}

{% block head %}
  <title>Edit Assessment</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style/edit_assessment.css') }}">
{% endblock %}

{% block body %}
    <h1>This is the edit assessment page</h1>
    {% for mod in module %}
      <p>{{ mod.module_name }}</p>
    {% endfor %}
    {% for ass in assess %}
    <form class="edit_assess" action="{{ url_for('edit_assessment', assess_id = ass.id) }}" method="post">
        {% if ass.assessment_type == 1%}
        <select name="assType" id="">
          <option value="0" selected="selected">Sumative</option>
          <option value="1">Formative</option>
        </select>
        {% else %}
        <select name="assType" id="">
          <option value="0">Sumative</option>
          <option value="1" selected="selected">Formative</option>
        </select>
        {% endif %}
        <br>
        <p>Assessment name</p><input type="text" name="assTitle" value='{{ ass.assessment_name }}'>
        <br>
        <p>Time limit</p><input type="text" name="assTime" value='{{ ass.time_limit }}'>
        <br>
        <p>release date</p><input type="text" name="assRel" value='{{ ass.release}}'>
        <br>
        <p>start date</p><input type="text" name="assStart" value='{{ ass.start_date }}'>
        <br>
        <p>end date</p><input type="text" name="assEnd" value='{{ ass.end_date }}'>
        <br>
        <p>weighting</p><input type="text" name="assWeight" value='{{ ass.weighting }}'>
        <br>
        <p>allowed attempts</p><input type="text" name="assAttemps" value='{{ ass.allowed_attemps }}'>
        <br>
        <p>instructions</p><input type="text" name="assInstruc" value='{{ ass.assessment_instructions }}'>
        <br>
        <br>
        <input id = "edit_button" type="submit" name="" value="Edit">
    </form>
    {% endfor %}
{% endblock %}