{% extends 'base.html' %}

{% block head %}
  <title>Login</title>
{% endblock %}

{% block body %}

  <div class="">

    <img src="{{ url_for('static', filename='img/CardiffUniversitylogo.jpeg') }}">
    <div class="login">
    <h1>Log In</h1>
    <form method="POST" action="">
      {{ form.csrf_token }}
      {{ form.email.label }} <br/> {{ form.email }}<br/>
      <br/>{{ form.password.label }} <br/> {{ form.password }}<br/>
      <br/><input type="submit" value="Login">
    </form>
    </div>

  </div>

{% endblock %}
