<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/mainStyle.css') }}">
    {% block head %}{% endblock %}
  </head>

  <body>
    {% block head %}
        <title>Login</title>
    {% endblock %}

    {% block content %}
    <img src="{{ url_for('static', filenam='img/CardiffUniversitylogo.jpeg') }}">
    <div class="login">
    <h1>Log In</h1>
    <form method="POST" action="">
      {{ form.csrf_token }}
      {{ form.email.label }} <br/> {{ form.email }}<br/>
      <br/>{{ form.password.label }} <br/> {{ form.password }}<br/>
      <br/><input type="submit" value="Login">
    </form>
    </div>
    {% endblock content %}
  </body>
</html>