{% block head %}
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style/login.css') }}">
{% endblock %}

{% block content %}

    <div class="alert">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                  <li style="list-style-type: none;">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
      {% endwith %}
      </div>
    <img src="{{ url_for('static', filename='img/CardiffUniversityLogo.jpeg')}}" alt="">
    <h1>Cardiff University Auto Assessment System</h1>
    <div class="login">
    <h2>Log In</h2>
    <form method="POST" action="">
      {{ form.csrf_token }}
      {{ form.email.label }} <br/> {{ form.email }}<br/>
      <br/>{{ form.password.label }} <br/> {{ form.password }}<br/>
      <br>
      <input type="submit" value="Login">
    </form>
    <a href="{{ url_for('register') }}">Register</a>
    </div>
  </div>
  
{% endblock %}
