{% extends 'base.html' %}

{% block head %}
  <title>My Assessments</title>

  <style>

    table, th, td {
      border: 1px solid black;
    }

    th, td {
      padding: 10px;
    }

  </style>

{% endblock %}

{% block body %}

<div class="view_completed_assessments">

  <table>

    <thead>
      <tr>
        <th scope="col">Student Number</th>
        <th scope="col">Number of Completed Assessments</th>
        <th scope="col">Action</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>1234567</td>
        <td>3</td>
        <td><a href="./completed_assessments">View Completed Assessment Statistics</a></td>
      </tr>
    </tbody>

  </table>

</div>

<div class="my_assessments_tables">
  <table>

    <thead>
      <tr>
        <th scope="col" colspan="5">[module_name]</th>
      </tr>
      <tr>
        <th scope="col">Assessment(s)</th>
        <th scope="col">Assessment Start Date</th>
        <th scope="col">Assessment Due Date</th>
        <th scope="col">Mark</th>
        <th scope="col">Action</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Assessment 1</td>
        <td>23/03/2021</td>
        <td>23/03/2021</td>
        <td>70</td>
        <td>View</td>
      </tr>
      <tr>
        <td>Assessment 2</td>
        <td>23/03/2021</td>
        <td>23/03/2021</td>
        <td>70</td>
        <td>View</td>
      </tr>
    </tbody>

    <tfoot>
      <tr>
        <td colspan="5">Have an issue with your marks? Report here</td>
      </tr>
    </tfoot>

  </table>

  <table>

    <thead>
      <tr>
        <th scope="col" colspan="5">[module_name]</th>
      </tr>
      <tr>
        <th scope="col">Assessment(s)</th>
        <th scope="col">Assessment Start Date</th>
        <th scope="col">Assessment Due Date</th>
        <th scope="col">Mark</th>
        <th scope="col">Action</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Assessment 1</td>
        <td>23/03/2021</td>
        <td>23/03/2021</td>
        <td>70</td>
        <td>View</td>
      </tr>
      <tr>
        <td>Assessment 2</td>
        <td>23/03/2021</td>
        <td>23/03/2021</td>
        <td>70</td>
        <td>View</td>
      </tr>
    </tbody>

    <tfoot>
      <tr>
        <td colspan="5">Have an issue with your marks? Report here</td>
      </tr>
    </tfoot>

  </table>

</div>

{% endblock %}
