{% extends 'base.html' %}

{% block head %}

<title>My Assessments</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style/assessmentStatsStyle.css') }}">

{% endblock %}

{% block body %}

<div class="content-tables">

  <!--Section for the tables with student information-->
  <div>
    <table class="my-completed-assessments-table">

      <thead>
        <tr class="active-row">
          <th scope="col">User ID</th>
          <th scope="col">Number of Completed Assessments</th>
          <th scope="col">Action</th>
        </tr>
      </thead>

      <tbody>

        <tr>
          <!--User ID-->
          <td>{{ current_user.id }}</td>
          <!-- Number of completed assessments -->
          <td>{{ num_of_assessments }}</td>
          <td><a href="{{ url_for('completed_assessments', user_id=current_user.id)}}">View All Completed
              Assessments</a></td>
          <!--Change link to correspond with fetched data-->
        </tr>

      </tbody>

    </table>
  </div>

  <!--Section for the tables with assessment information -->
  <div>
    {%for mod1 in enrolled_mod%}
    <table class="my-assessments-table">

      <thead>
        <tr>
          <th scope="col" colspan="5">{{mod_names[mod1]}}</th>
        </tr>
        <tr>
          <th scope="col">Assessment(s)</th>
          <th scope="col">Assessment Start </th>
          <th scope="col">Assessment End</th>
          <th scope="col">Average Mark</th>
        </tr>
      </thead>

      <tbody>
        {%for a in Assessments[mod1] %}
        <tr>
          <td>{{a.assessment_name}}</td>
          <!--Assessments(s)-->
          <td>{{a.start_date}}</td>
          <!--Assessment Start-->
          <td>{{a.end_date}}</td>
          <!--Assessment End-->
          <td>{{Assess_results[a.id]}}</td>
          <!--Average Mark-->
        </tr>
        {%endfor%}
      <tfoot>
        <tr>
          <td colspan="5">Note: All Marks shown are your average for all attempts</td>
        </tr>
      </tfoot>

    </table>
    {%endfor%}

  </div>

</div>

{% endblock %}