{% extends 'base.html' %}

{% block head %}
<title>Student Survey Results</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style/mainStyle.css') }}">
{% endblock %}

{% block body %}

<div class="">

    <h2 id="title">Student Survey Results</h2> <br>

<!--Pull all staff Modules & Assessments-->   

{% endblock %}
{% block body %}

<div class="">

    <h2>Your Modules</h2> <br><!-- Add link to Module details page with each module title page here-->
    <p>CMT 330 Software Engineering</p><br>
    <p>CMT 331 Software Development</p><br>
            
    
    <br><br>

    <h2>CMT 330 Software Engineering </h2>
    <h2>Assessment 1: Business Case<!--Insert link for assessment details here --></h2>
    <h2>Survey Results</h2><br>
    <p> Q1: On a scale of 1 - 5, with 1 being very easy and 5 being very difficult, how easy was it to
        complete this assessment through this portal?<br>
        1 - Very Easy: <!-- Insert link for percentage here --><br>
        2 - Very Easy:<!-- Insert link for percentage here --><br>
        3 - Neither Easy Nor Difficult<!-- Insert link for percentage here --><br>
        4 - Moderately Difficult<!-- Insert link for percentage here --><br>
        5 - Very Difficult<!-- Insert link for percentage here --></p>
    <p> Q1: On a scale of 1 - 5, with 1 being very easy and 5 being very difficult, how easy was it to
        complete this assessment through this portal?<br>
        1 - Very Easy:<!-- Insert link for percentage here --><br>
        2 - Very Easy:<!-- Insert link for percentage here --><br>
        3 - Neither Easy Nor Difficult<!-- Insert link for percentage here --><br>
        4 - Moderately Difficult<!-- Insert link for percentage here --><br>
        5 - Very Difficult<!-- Insert link for percentage here --></p>
    <p> Q1: On a scale of 1 - 5, with 1 being very easy and 5 being very difficult, how easy was it to
        complete this assessment through this portal?<br>
        1 - Very Easy:
        <!-- Insert link for percentage here --><br>
        2 - Very Easy:
        <!-- Insert link for percentage here --><br>
        3 - Neither Easy Nor Difficult
        <!-- Insert link for percentage here --><br>
        4 - Moderately Difficult
        <!-- Insert link for percentage here --><br>
        5 - Very Difficult
        <!-- Insert link for percentage here -->
    </p>
    <p> Q1: On a scale of 1 - 5, with 1 being very easy and 5 being very difficult, how easy was it to
        complete this assessment through this portal?<br>
        1 - Very Easy:
        <!-- Insert link for percentage here --><br>
        2 - Very Easy:
        <!-- Insert link for percentage here --><br>
        3 - Neither Easy Nor Difficult
        <!-- Insert link for percentage here --><br>
        4 - Moderately Difficult
        <!-- Insert link for percentage here --><br>
        5 - Very Difficult
        <!-- Insert link for percentage here -->
    </p>
    <p> Q1: On a scale of 1 - 5, with 1 being very easy and 5 being very difficult, how easy was it to
        complete this assessment through this portal?<br>
        1 - Very Easy:
        <!-- Insert link for percentage here --><br>
        2 - Very Easy:
        <!-- Insert link for percentage here --><br>
        3 - Neither Easy Nor Difficult
        <!-- Insert link for percentage here --><br>
        4 - Moderately Difficult
        <!-- Insert link for percentage here --><br>
        5 - Very Difficult
        <!-- Insert link for percentage here -->
    </p>
    <p> Q1: Additional Comments <br>
        TEXT COMMENTS <!-- Insert Link for Text Comments here -->
    </p><br><br>

    <h2>CMT 331 Software Development</h2>
    <h2>Assessment 1: Report
        <!--Insert link for assessment details here -->
    </h2>
    <h2>Survey Results</h2><br>
    <p> Q1: On a scale of 1 - 5, with 1 being very easy and 5 being very difficult, how easy was it to
        complete this assessment through this portal?<br>
        1 - Very Easy:
        <!-- Insert link for percentage here --><br>
        2 - Very Easy:
        <!-- Insert link for percentage here --><br>
        3 - Neither Easy Nor Difficult
        <!-- Insert link for percentage here --><br>
        4 - Moderately Difficult
        <!-- Insert link for percentage here --><br>
        5 - Very Difficult
        <!-- Insert link for percentage here -->
    </p>
    <p> Q1: On a scale of 1 - 5, with 1 being very easy and 5 being very difficult, how easy was it to
        complete this assessment through this portal?<br>
        1 - Very Easy:
        <!-- Insert link for percentage here --><br>
        2 - Very Easy:
        <!-- Insert link for percentage here --><br>
        3 - Neither Easy Nor Difficult
        <!-- Insert link for percentage here --><br>
        4 - Moderately Difficult
        <!-- Insert link for percentage here --><br>
        5 - Very Difficult
        <!-- Insert link for percentage here -->
    </p>
    <p> Q1: On a scale of 1 - 5, with 1 being very easy and 5 being very difficult, how easy was it to
        complete this assessment through this portal?<br>
        1 - Very Easy:
        <!-- Insert link for percentage here --><br>
        2 - Very Easy:
        <!-- Insert link for percentage here --><br>
        3 - Neither Easy Nor Difficult
        <!-- Insert link for percentage here --><br>
        4 - Moderately Difficult
        <!-- Insert link for percentage here --><br>
        5 - Very Difficult
        <!-- Insert link for percentage here -->
    </p>
    <p> Q1: On a scale of 1 - 5, with 1 being very easy and 5 being very difficult, how easy was it to
        complete this assessment through this portal?<br>
        1 - Very Easy:
        <!-- Insert link for percentage here --><br>
        2 - Very Easy:
        <!-- Insert link for percentage here --><br>
        3 - Neither Easy Nor Difficult
        <!-- Insert link for percentage here --><br>
        4 - Moderately Difficult
        <!-- Insert link for percentage here --><br>
        5 - Very Difficult
        <!-- Insert link for percentage here -->
    </p>
    <p> Q1: On a scale of 1 - 5, with 1 being very easy and 5 being very difficult, how easy was it to
        complete this assessment through this portal?<br>
        1 - Very Easy:
        <!-- Insert link for percentage here --><br>
        2 - Very Easy:
        <!-- Insert link for percentage here --><br>
        3 - Neither Easy Nor Difficult
        <!-- Insert link for percentage here --><br>
        4 - Moderately Difficult
        <!-- Insert link for percentage here --><br>
        5 - Very Difficult
        <!-- Insert link for percentage here -->
    </p>
    <p> Q1: Additional Comments <br>
        TEXT COMMENTS
        <!-- Insert Link for Text Comments here -->
    </p>
   

</div>

{% endblock %}