{% extends 'base.html' %}
<!-- EK Page -->

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='style/mainStyle.css') }}">
<title>My Account</title>

{% endblock %}

{% block body %}
<h2><strong>My Account</strong></h2>
<h3>Name : {{current_user.first_name}} {{current_user.last_name}}</h3>
<h3>Email : {{current_user.email}}</h3>
<h3>Username : {{current_user.username}}</h3>

<div class="">

    <h2>My Modules</h2> <!-- Add link to Module details page with each module title page here-->
    {% for module in Modules %}
    {% if current_user.has_enrolled(module) %}
    <div class="module-title">
        <h3>{{ module.module_name }}</h3>
    </div>
    <div class="view-assess">
        <a href="{{ url_for('view_assessments', module_id=module.id) }}"><span>Open Assessment</span></a>
    </div>
    {% endif %}
    {% endfor %}
    <!--<p>CMT 330 Software Engineering</p>
        <p>CMT 331 Software Development</p>
        <p>CMT 119 Computing</p>
        <p>SPN 121 Spanish </p>-->

    <h2>Graded Assessments</h2>
    <div class="view-assess">
        <a href="{{ url_for('completed_assessments', user_id=current_user.id)}}"><span>View Current Marks</span></a>
    </div>

    <h2>All Assessments</h2>
    <div class="view-assess">
        <a href="{{ url_for('my_assessments', user_id=current_user.id)}}"><span>View All Assessments</span></a>
    </div>




    <br><br>
    {% endblock %}