{% extends 'base.html' %} <!-- EK Page -->
   
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/mainStyle.css') }}">
<title>My Account</title>
<style type="text/css">
table {
    border: 2px solid yellow;
    background-color: #fff;
}

th {
    border-bottom: 5px solid #000;
}

td { 
    border-bottom: 2px solid #667;
}
</style>
{% endblock %}

{% block body %}
<h1>Display Survey Results from DB</h1>

<?php 

include('connect-myql.php');
$sqlget = "SELECT * FROM survey";
$sqldata = mysqli_query($dbcon, $sqlget) or die('error')

echo 

?>








{% end block %}