{% extends 'base.html' %} <!-- EK Page -->
   
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/mainStyle.css') }}">
<title>My Account</title>
{% endblock %}

{% block body %}
    <!--Pull all staff Modules & Assessments-->
    <div class="">

        <h2>Your Modules</h2> <!-- Add link to Module details page with each module title page here-->
        <p>CMT 330 Software Engineering</p>
        <p>CMT 331 Software Development</p>
        <p>CMT 119 Computing</p>
        <p>SPN 121 Spanish </p>

        <h2>Your Current Marks</h2> <!-- Add link to Module details page with each module title page here-->
        <p>CMT 330 Software Engineering</p>
        <p>CMT 331 Software Development</p>
        <p>CMT 119 Computing</p>
        <p>SPN 121 Spanish </p>

        <h2>Upcoming Assessments</h2> <!-- Add link to Module details page with each module title page here-->
        <p>CMT 330 Software Engineering</p>
        <p>CMT 331 Software Development</p>
        <p>CMT 119 Computing</p>
        <p>SPN 121 Spanish </p>

        <h2>Assessment Feedback</h2> <!-- Add link to Module details page with each module title page here-->
        <p>Press Here to Access Survey results</p>



        <br><br>
        {% endblock %}