{% extends 'base.html' %}
<!-- EK Page -->

{% block  head %}

<link rel="stylesheet" href="{{ url_for('static', filename='style/surveystyle.css') }}">
{% endblock %}
{% block body %}
<div class="title-container">
    <div class="title-background">
        <h2 class="accountTitle" style="color: white;" >Survey Submitted Successfully</h2>
       
    </div>
</div>
<div class="section-container">
    <div class="section-background">
        <h2 class="accountTitle" style="color:  #990000;">Thank you {{current_user.first_name}} {{current_user.last_name}} for completing this survey!</h2>
        <h3 class="bodyText">Your feedback will be used to improve future assessments, future modules and the overall quality of teaching.<br>
            Your responses will be reviewed by a member of staff, however you will not receive a response about your survey
            responses.<br><br>If you have an urgent inquiry or experienced technical difficulties, please email your instructor
            directly.<br>Alternatively you can email the Cardiff University Computer Science & Informatics office below with any additional comments.</h3>
            <br>
            <center><a href="mailto: comsc-office@cardiff.ac.uk">Contact Cardiff University Computer Science & Informatics Office</a></center>
    </div>    
</div>
<br><br>
<a href="{{ url_for('myaccount') }}">
    <li>Return to Your Account</li>
</a>
{% endblock %}