{% extends 'base.html' %}
<!-- EK Page -->

{% block head %}
<title>Student Feedback Results</title>
<link rel="stylesheet" href="../static/style/surveystyle.css">
<link rel="stylesheet" href="../static/style/mainStyle.css">
{% endblock %}


    {% block body %}
    {% if current_user.is_staff %}
        {{ q1_choice1 }}

        <br><br>




        <h2>Student Feedback & Survey Results</h2>
        <h3>All feedback is anonymous and ordered by Module and Assessment.</h3>

        <div class="content-tables">
            <table class="survey-table w3-striped w3-bordered">
                <thead>
                    <h2><strong>Questions about using this Automated Assessment Tool</strong></h2>
                    <tr>
                        <th colspan="7">Question 1 : Rate the ease of using this automated
                            assessment tool to complete your assessment.</th> <!--Question 1-->
                    </tr>
                    <tr>
                        <th scope="col">Module Number</th>
                        <th scope="col">Assessment Number</th>
                        <th scope="col">Very Easy </th>
                        <th scope="col">Easy </th>
                        <th scope="col">Moderate</th>
                        <th scope="col">Difficult</th>
                        <th scope="col">Very Difficult</th>
                    </tr>
                </thead>
                <tbody>
                  {% for m_id in enrolled_mod%}

                  {%for a_id in Assessments[m_id]%}


                    <tr>
                        <th scope="col">{{m_id}}</th> <!--Question 1 Answers -->
                        <th scope="col">{{a_id}}</th>
                        <th scope="col">{{ survey_Results[a_id][0][0] }} </th>
                        <th scope="col">{{ survey_Results[a_id][0][1] }}</th>
                        <th scope="col">{{ survey_Results[a_id][0][2] }}</th>
                        <th scope="col">{{ survey_Results[a_id][0][3] }}</th>
                        <th scope="col">{{ survey_Results[a_id][0][4] }}</th>
                    </tr>
                    {%endfor%}
                    {%endfor%}

                </tbody>

                <br>
            <table class="survey-table w3-striped w3-bordered"> <!-- Question 2-->
                <thead>
                    <tr>
                        <th colspan="7">Question 2 : Did you experience any technical issues during this assessment related to the assessment itself?</th>
                    </tr>
                    <tr>
                        <th scope="col">Module Number</th>
                        <th scope="col">Assessment Number</th>
                        <th scope="col">Several Issues that Affected Outcome </th>
                        <th scope="col">Minor Issues </th>
                        <th scope="col">No Issues</th>
                    </tr>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="col">1</th> <!-- Question 2 Answers -->
                        <th scope="col">1</th>
                        <th scope="col">{{ m1a1q2_1 }} out of {{ m1a1qtot }} = {{ m1a1q21per }}% </th>
                        <th scope="col">{{ m1a1q2_2 }} out of {{ m1a1qtot }} = {{ m1a1q22per }}%</th>
                        <th scope="col">{{ m1a1q2_3 }} out of {{ m1a1qtot }} = {{ m1a1q23per }}%</th>
                    </tr>
                </tbody>
                <br>
                <table class="survey-table w3-striped w3-bordered"> <!-- Question 3 -->
                    <thead>
                        <h2><strong>Questions About Assessment Content</strong></h2>
                        <tr>
                            <th colspan="7">Question 3 : How relevant was the assessment to the coursework you have completed within your course?</th>
                        </tr>
                        <tr>
                            <th scope="col">Module Number</th>
                            <th scope="col">Assessment Number</th>
                            <th scope="col">Extremely Irrelevant</th>
                            <th scope="col">Moderately Irrelevant </th>
                            <th scope="col">Neither Relevant nor Irrelevant</th>
                            <th scope="col">Moderately Relevant</th>
                            <th scope="col">Extremely Relevant</th>
                        </tr>
                    </thead>
                    <tbody>
                      {%for a_id in Assessments_id%}


                        <tr>
                            <th scope="col">n/a</th> <!--Question 1 Answers -->
                            <th scope="col">{{a_id}}</th>
                            <th scope="col">{{ survey_Results[a_id][2][0] }} </th>
                            <th scope="col">{{ survey_Results[a_id][2][1] }}</th>
                            <th scope="col">{{ survey_Results[a_id][2][2] }}</th>
                            <th scope="col">{{ survey_Results[a_id][2][3] }}</th>
                            <th scope="col">{{ survey_Results[a_id][2][4] }}</th>
                        </tr>
                        {%endfor%}

                    </tbody>
                <table class="survey-table w3-striped w3-bordered"> <!-- Question 4 -->
                    <thead>
                        <tr>
                            <th colspan="7">Question 4 : The assessment questions worded so they were easy to understand what the question was asking.</th>
                        </tr>
                        <tr>
                            <th scope="col">Module Number</th>
                            <th scope="col">Assessment Number</th>
                            <th scope="col">Strongly Disagree</th>
                            <th scope="col">Slightly Disagree</th>
                            <th scope="col">Neither Agree or Disagree</th>
                            <th scope="col">Slightly Agree</th>
                            <th scope="col">Strongly Agree</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="col">1</th><!--Question 4 Answers -->
                            <th scope="col">1</th>
                            <th scope="col">{{ m1a1q4_1 }} out of {{ m1a1qtot }} = {{ m1a1q41per }}% </th>
                            <th scope="col">{{ m1a1q4_2 }} out of {{ m1a1qtot }} = {{ m1a1q42per }}%</th>
                            <th scope="col">{{ m1a1q4_3 }} out of {{ m1a1qtot }} = {{ m1a1q43per }}%</th>
                            <th scope="col">{{ m1a1q4_4 }} out of {{ m1a1qtot }} = {{ m1a1q44per }}%</th>
                            <th scope="col">{{ m1a1q4_5 }} out of {{ m1a1qtot }} = {{ m1a1q45per }}%</th>
                        </tr>

                    </tbody>

                    <br>
                <table class="survey-table w3-striped w3-bordered">
                    <thead>
                        <h2><strong>Questions about Module</strong></h2>
                        <tr>
                            <th colspan="7">Question 5 : How relevant is this particular module in reaching the learning outcomes set by your degree program?</th><!--Question 5-->
                        </tr>
                        <tr>
                            <th scope="col">Module Number</th>
                            <th scope="col">Assessment Number</th>
                            <th scope="col">Extremely Irrelevant</th>
                            <th scope="col">Slightly Irrelevant</th>
                            <th scope="col">Neither Relevant nor Irrelevant</th>
                            <th scope="col">Slightly Relevant</th>
                            <th scope="col">Extremely Relevant</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="col">1</th><!--Question 5 Answers -->
                            <th scope="col">1</th>
                            <th scope="col">{{ m1a1q5_1 }} out of {{ m1a1qtot }} = {{ m1a1q51per }}% </th>
                            <th scope="col">{{ m1a1q5_2 }} out of {{ m1a1qtot }} = {{ m1a1q52per }}%</th>
                            <th scope="col">{{ m1a1q5_3 }} out of {{ m1a1qtot }} = {{ m1a1q53per }}%</th>
                            <th scope="col">{{ m1a1q5_4 }} out of {{ m1a1qtot }} = {{ m1a1q54per }}%</th>
                            <th scope="col">{{ m1a1q5_5 }} out of {{ m1a1qtot }} = {{ m1a1q55per }}%</th>
                        </tr>

                    </tbody>

                    <br>
                <table class="survey-table w3-striped w3-bordered">
                    <thead>
                        <tr>
                            <th colspan="7">Question 6 : Any additional Feedback Comments </th><!--Question 6-->
                        </tr>
                        <tr>
                            <th scope="col">Module Number</th>
                            <th scope="col">Assessment Number</th>
                            <th colspan="5" >Comments</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="col">1</th><!--Question 6 Answers -->
                            <th scope="col">1</th>
                            <th scope="col">{{ q1_1 }} out of {{ m1a1qtot }} = {{ m1a1q31per }}% </th>
                        </tr>
                    </tbody>
                    <br>



    {% else %}
        <br><br><br><br>
        <h2>ERROR! You must be logged in as a staff member to view feedback results. <br> If you are a staff member please login to
            view this page.<br> If you are not a staff member please return to your account page</h2><br><br>
        <h3><button><a href='/myaccount'>Return to My Account</a></button></h3>


    {% endif %}

    {% endblock %}
