{% extends 'base.html' %}

{% block head %}
  <title>View Modules</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style/view_modules.css') }}">
{% endblock %}

{% block body %}
    <h1>Welcome to view Modules</h1>
    {% for module in Modules %}
        {% if current_user.has_enrolled(module) %}
            <div class="module-title">
                <h1>{{ module.module_name }}</h1>
            </div>
            <div class="view-assess">
                <a href="{{ url_for('view_assessments', module_id=module.id) }}"><span>View Assessments</span></a>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
