
/* Styling the table(s) individually */
.assessment-statistics-table,
.completed-assessments-table,
.my-completed-assessments-table,
.my-assessments-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

/* Styling the container of the table */
.content-tables {
  margin: auto;
  width: 50%;
  padding: 10px;
}

/* Styling the Table headings */
.content-tables thead tr {
  background-color: #990000; /* Make sure color corresponds with color scheme */
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

/* Styling the table cells  */
 .content-tables th,
 .content-tables td {
  padding: 12px 15px;
}

/* adding a bottom table border under each row */
.content-tables tbody tr {
  border-bottom: 1px solid #dddddd;
}

/* making each 2nd row a light grey color */
.content-tables tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

/* making the last table row border the same as header */
.content-tables tbody tr:last-of-type {
  border-bottom: 2px solid #990000; /* Make sure color corresponds with color scheme */
}

/* making the current row stand out */
.content-tables tbody tr.active-row {
  font-weight: bold;
  color: #009879; /* Make sure color corresponds with color scheme */
}
