.section-container {
    padding: 1% 1%;
}

.section-background {
    background-color: white;
    border-radius: 20px;
    padding: 1% 1%;
}

.acc-table  {
    text-align: center;
    width: 100%;
}

.acc-table td {

    width: 50%;
}

.other-table {
    width: 100%;
}

.other-table td {
    width: 75%;
}
.accountTitle {
  text-align: center;
}
.other-table a {
  padding: 1% 3%;
  text-decoration: none;
  color: #990000;;
  background-color:  rgb(119, 119, 134, 0.2);
  border-radius: 10px;

}
