
.h3 {
  text-align: center;
}

/* Styling the table(s) individually */
.survey-table {
  /*border-collapse: collapse;*/
  border: 4px solid #504646;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: .75em;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  inline-size: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

/* Styling the container of the table */
.content-tables {
  margin: auto;
  width: 70%;
}

/* Styling the Table headings */
.content-tables thead tr {
  background-color: #ca8f8f; /* Make sure color corresponds with color scheme */
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  
}

/* Styling the table cells  */
 .content-tables th,
 .content-tables td {
  padding: 4px 5px;
  border: 2px solid #443939;
 }
/* adding a bottom table border under each row */
.content-tables tbody tr {
  border-bottom: 1px solid #b8acac;
  margin-left: auto;
  margin-right: auto;
}

/* making each 2nd row a light grey color */
.content-tables tbody tr:nth-of-type(even) {
  background-color: #c0bebece;
  border-bottom: 2px solid #ac7474;
}

/* making the last table row border the same as header */
.content-tables tbody tr:last-of-type {
  border-bottom: 2px solid #ac7474; /* Make sure color corresponds with color scheme */
}

/* making the current row stand out */
.content-tables tbody tr.active-row {
  font-weight: bold;
  color: #cfabab; /* Make sure color corresponds with color scheme */
}


.surveyform td{
  padding-right:  2%;
  padding-bottom: 1%;

} 
/* Survey form box */

.button {
  border: none;
  color: rgb(226, 52, 52);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 6px;
  cursor: pointer;
}

.title-container {
    padding: 1% 1%;
}

.title-background {
    background-color:rgb(177, 98, 98);
    border-radius: 20px;
    padding: 1% 1%;
}

.section-container {
    padding: 1% 1%;
}


.section-background {
    background-color: white;
    border-radius: 20px;
    padding: 1% 1%;
}

.acc-table  {
    text-align: center;
    width: 100%;
}

.acc-table td {

    width: 50%;
}

.other-table {
    width: 100%;
}

.other-table td {
    width: 75%;
}
.accountTitle {
  text-align: center;
  font-weight: bold ;
}
.bodyText {
  text-align: center;
}
.other-table a {
  padding: 1% 3%;
  text-decoration: none;
  color: #990000;;
  background-color:  rgb(119, 119, 134, 0.2);
  border-radius: 10px;

}
