

/* .singleQuestion p{
  display: inline;
} */

#assTitle{
  text-align: center;
}

.singleQuestion label{
  display: inline-block;
}
.singleQuestion input{
  /* margin-left: 5%; */
  display: inline-block;

}

.singleQuestion {
  border-bottom: 1px solid black;
  /* background-color: white; */
}

#alMarks {
  /* text-align: right; */
  /* display: block; */
  /* font-size: 30px; */
  display: block;
  text-align: right;

}


.assInfoTable table {
  border-spacing: 2vw;

  margin: auto;

}

.singleQuestion {
  max-width: 75vw;
}

.singleQuestion label {
  margin-bottom: 2%;
}


.questionBoxes{

  margin-left: 5%;

}

#submitAss {
  float: right;
  margin-right: 5vh;
  width: 20vh;
}

/* .assInfoTable td {
  border-spacing: 2vw;;
} */


.assInstruction{
  /* border: 1px solid black; */
  padding: 1%;
  background-color: white;
  border-radius: 25px;
}
.assInstruction h3{
  text-align: center;
}

.assInstruction {
  margin: auto;
  max-width: 75vw;
}



#cQ_info_Form table{
  border: 1px solid black;
}

#cQ_info_Form table td{
  border: 1px solid black;
}

#cQ_QuesTable_Form table{
  border: 1px solid black;
}

#cQ_QuesTable_Form table td{
  border: 1px solid black;
}

#cQ_QuestionType_One table{
  border: 1px solid black;
}

#cQ_QuestionType_One table td{
  border: 1px solid black;
}

#cQ_QuestionType_Two table{
  border: 1px solid black;
}

#cQ_QuestionType_Two table td{
  border: 1px solid black;
}

#cQ_Create_Questions{
  font-size: 200px;
  font-weight: bold;
}

#cQ_Question_Type table{
  border: 1px solid black;

}

#cQ_Question_Type table td{
  border: 1px solid black;
  padding: 15px;
  border-spacing: 15px;
  font-size: 50px;
}

#cQ_Add_Question{
  margi: -10px;
}

.feedbackStyle {
  /* margin-left: 5%; */
  margin: 5%;
  /* margin-top: 2%; */
  padding: 5%;
  padding-top: 1%;
  /* pad */
  background-color: white;
  border-radius: 25px;

}
.feedbackStyle h2 {
  text-align: center;
}


.QuestionForm{
  background-color: white;
  margin: 1%;
  border-radius: 25px;
  padding: 2%;
}

.singleQuestionFeedback {
  text-align: center;
}

.satButton{
  padding: 0.5%;
}
.satButton p{
  text-align: center;
}
.satButton a{
  padding: 0.5%;
  color: black;
  text-decoration: none;
  border: 1px solid black
}

.satButton a:hover{
  padding: 0.5%;
  border: 1px solid #990000;
  color: #990000;
  cursor: pointer;
}

#correctAnswerFeed {
  color: green;
}
#incorrectAnswerFeed {
  color: red;
}

.resultFormative{
  text-align: center;
}


#subButton {
  float: right;
  width: 15%;
  background: none;
  border: 1px solid black;
}

#subButton:hover {
  color: #990000;
  border: 1px solid #990000;
  cursor: pointer;
}

.confi{
  text-align: center;
  background-color: white;
  border-radius: 20px;
}
